# Prerequisites
*.d
.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ft_container_tester
ft_container_tester.g

ft
std
ret
ft_map_test
ft_vector_test
ft_stack_test
std_map_test
std_vector_test
std_stack_test
result
tmp.cpp
tmp.hpp